//
// Reusable styles for contact, social links
//

.contact-links {
  align-items: center;
  display: inline-flex;
  list-style-type: none;
  margin: 0;
  padding: 0;

  @media (min-width: 768px) {
    margin-bottom: .5rem;
  }

  li {
    align-items: center;
    display: flex;

    &:not(:first-child) {
      padding-left: 1rem;
    }
  }

  .email a {
    border: 2px solid $mauve;
    border-radius: .5em;
    display: block;
    font-size: $font-size-h4;
    font-weight: 400;
    padding: .5em .75em;
    text-decoration: none;
    transition: background-color .25s ease-in-out, color .25s ease-in-out;

    &:hover,
    &:focus,
    &:active {
      background-color: $mauve;
      color: $white;
    }
  }

  .icon {
    display: inline-block;
    fill: currentColor;
    height: 2.75rem;
    vertical-align: sub;
    width: 2.75rem;
  }
}
