.contact-links {
  align-items: center;
  display: inline-flex;
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    &:not(:first-child) {
      padding-left: 1rem;
    }
  }

  .email a {
    color: $body-color;
    text-decoration: underline;

    &:hover,
    &:focus {
      color: $link-color;
    }
  }

  .icon {
    display: inline-block;
    fill: currentColor;
    height: 2rem;
    width: 2rem;
  }
}
