//
// Classes related to page layout and top-level page sections
//

// General container for content
.block {
  margin: auto;
  max-width: 60rem;
  padding: clamp(2rem, 6vw, 3rem) 2rem;
  width: 100%;

  @media (min-width: 575px) {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

// Location-specific classes
.site-title {
  @include h1;
}

.site-info {
  margin-bottom: 1.25em;

  p {
    margin-bottom: 0;
  }
}

.site-title-part {
  display: inline-block;
  vertical-align: baseline;
}

.site-description {
  p:last-child {
    margin-bottom: 0;
  }
}

.site-footer {
  @media (min-width: 768px) {
    align-items: baseline;
    display: flex;
    flex-direction: row;
    font-size: 1.1rem;
    justify-content: space-between;
  }
}
