$static-font-path: '../fonts/';

$font-family-serif: 'Tex Gyre Schola Italic', serif;
$font-family-sans-serif: 'Varela', sans-serif;

$beige-light: #fffff6;
$brown:       #695a5a;
$brown-dark:  #473c3c;
$brown-light: #d5d5cd;
$salmon:      #f98459;
$white:       #fff;
