$font-family-serif: 'Zilla Slab', serif;
$font-family-sans-serif: 'Lato', sans-serif;
$font-family-base: $font-family-sans-serif;

$beige-light: #f9f6f1;
$mauve:       #ae4242;
$mauve-gradient: linear-gradient(to right, #ffedce, #f2b2a8);
$white:       #fff;
$black:       #020202;
$gray:        #565656;

$body-color: $black;
$link-color: $mauve;
$project-box-shadow: 0 0 1rem #e4e0da;
$project-info-border: 1px solid darken($beige-light, 5%);
